<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="./styles/layout.css">

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


  </head>

  <body>
    <!-- Navigation -->
    <%- include('partials/_header') %>

    <!-- Form login -->
    <div class="login">
      <br>
      <h2>Register</h2>
      <form action="/api/v1/auth/register" method="POST">
        <div class="form-group">
          <label for="username" style="width: 300px;">User name</label>
          <input type="text" name="username" class="form-control" placeholder="Enter username" style="width: 300px;" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" style="width: 300px;">Email address</label>
          <input type="email" name="email" class="form-control" placeholder="Enter email" style="width: 300px;" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password" style="width: 300px;" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </main>
    </div>
  </body>
</html>
